.Center {
	text-align: center;
	line-height: 1rem;
}
.P1 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 2.5rem;
	font-style: italic;
}

.P2 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: darkblue;
	font-style: oblique;
	font-size: 2.5rem;
}
.P3 {
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: -0.1em;
	font-size: 2.5rem;
}

.Ph1 {
	letter-spacing: -0.2rem;
	font-size: 1.5rem;
}

.P4 {
	font-size: 2.5rem;
	text-align: center;
	transform: rotate(180deg);
	text-transform: uppercase;
}

.Ph2 {
	transform: rotate(180deg);
	font-size: 1.5rem;
	text-align: center;
	text-transform: uppercase;
}
.P5 {
	direction: rtl;
	unicode-bidi: bidi-override;
	font-size: 2.5rem;
	text-transform: capitalize;
}

.Ph3 {
	direction: rtl;
	unicode-bidi: bidi-override;
	font-size: 1.5rem;
	text-transform: capitalize;
}
.P6 {
	font-size: 2.5rem;
	text-transform: uppercase;
	text-decoration: underline;
	text-decoration-color: #da1a1a;
	text-decoration-style: wavy;
}

.P7 {
	font-size: 2.5rem;
	text-shadow: 3px 3px #979292;
	text-decoration: underline;
	letter-spacing: 2rem;
	text-transform: capitalize;
}
.P8 {
	font-size: 1.5rem;
	font-family: serif;
	text-transform: uppercase;
	background: #979292;
	order: 10px solid transparent;
	padding: 15px;
}

.P9 {
	font-size: 2.5rem;
	animation-duration: 2s;
	animation-name: Deslisando;
}

@keyframes Deslisando {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}
